body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 15px;
}

.header {
  grid-area: header;
  border-bottom: 2px solid gainsboro;
  display: grid;
  grid-template-columns: 280px auto 222px;
}

.my-navbar {
  grid-area: navbar;
}

.my-navbar details {
  padding-bottom: 10px;
  cursor: pointer;
}

.my-navbar details[open] {
  padding: 0px;
}

.country-flag {
  font-size: small;
  width: max-content;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.contents {
  grid-area: contents;
  border-left: 2px solid gainsboro;
}

.footer {
  grid-area: footer;
  border-top: 2px solid gainsboro;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.app-grid {
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 60px auto 40px;
  min-height: 100vh;
  grid-template-areas:
    "header header"
    "navbar contents"
    "footer footer";
}

.nav-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-main-item {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: 20px;
}

.nav-main-section {
  display: flex;
  align-items: center;
}

.my-navbar span, .my-navbar li {
  cursor: pointer;
}

.agri-chart2 {
  padding-top: 20px;
}

.drop-zone {
  width: 100%;
  height: 100px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible-item {
  border: 1px solid gainsboro;
  padding: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.visible-item:hover {
  background-color: red;
  cursor: pointer;
}

.visible-items-list {
  padding: 5px 0px;
}